<div id="editor-container">
  <!--编辑器工具栏-->
  <div id="editor-toolbar" class="toolbar">
    <ul class="float-left">
      <li class="material-icons toolbar-item" title="工作空间" (click)="workspace.toggle()">apps</li>
    </ul>
    <ul class="inline-block">
      <li class="material-icons toolbar-item" title="加粗" (click)="bold()">format_bold</li>
      <li class="material-icons toolbar-item" title="斜体" (click)="italic()">format_italic</li>
      <li class="material-icons toolbar-item" title="分隔线" (click)="hr()">drag_handle</li>
      <li class="material-icons toolbar-item" title="引用" (click)="quotation()">format_quote</li>
      <li class="material-icons toolbar-item" title="代码" (click)="code()">settings_ethernet</li>
      <li class="material-icons toolbar-item" title="数学公式" (click)="math()">functions</li>
      <li class="material-icons toolbar-item" title="链接" (click)="link()">insert_link</li>
      <li class="material-icons toolbar-item" title="图片" (click)="image()">insert_photo</li>
      <li class="material-icons toolbar-item" title="表格" (click)="table()">grid_on</li>
      <li class="material-icons toolbar-item" title="有序列表" (click)="ol()">format_list_numbered</li>
      <li class="material-icons toolbar-item" title="无序列表" (click)="ul()">format_list_bulleted</li>
    </ul>
    <ul class="float-right">
      <li class="material-icons toolbar-item" title="编辑模式" (click)="toggleMaximize()">mode_edit
      </li>
    </ul>
  </div>
  <!--编辑区-->
  <div id="editor-wrap">
    <div id="editor">
      <app-code-mirror #codeRef [content]='content' [config]="config"></app-code-mirror>
    </div>
  </div>
</div>
