@import '../../vars';
// titlebar
#titlebar {
  width: 100%;
  height: $titlebar-height;
  background: $titlebar-background-color;
  text-align: center;
  -webkit-app-region: drag;
  cursor: default;
  position: relative;
  #titlebar-logo {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-app-region: no-drag;
    &:hover {
      background: $titlebar-control-background-color-hover;
    }
  }
  #titlebar-title {
    font-size: $titlebar-title-font-size;
    color: $titlebar-title-color;
    display: inline-block;
    vertical-align: baseline;
    line-height: $titlebar-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: $titlebar-title-max-width;
  }
  #titlebar-control {
    height: 100%;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-app-region: no-drag;
  }
  li {
    float: left;
    width: $titlebar-height;
    height: 100%;
    font-size: $titlebar-control-font-size;
    line-height: $titlebar-height;
    color: $titlebar-title-color;
    &:hover {
      background: $titlebar-control-background-color-hover;
    }
    &:last-child:hover {
      background: $titlebar-control-close-background-color-hover;
    }
  }
}
