// 配置
$titlebar-background-color: #3E464C;
$titlebar-height: 32px;
$titlebar-title-color: #FFF;
$titlebar-title-font-size: 16px;
$titlebar-title-max-width: 60%;
$titlebar-control-font-size: 24px;
$titlebar-control-background-color-hover: lighten($titlebar-background-color, 12%);
$titlebar-control-close-background-color-hover: #FF5252;
$editor-background-color: #363F45;
$toolbar-horizontal-padding: 10px;
$toolbar-height: 48px;
$toolbar-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px 0;
$preview-background-color: #FCFCFC;
$preview-max-width: 960px;
$preview-padding-top: 0;
$preview-padding-bottom: 10px;
$preview-padding-left: 20px;
$preview-padding-right: 20px; // 初始化
.color-cancel {
  color: #ADADAD;
}

.color-success {
  color: #03A9F4;
}

.color-warning {
  color: #FF5722;
}

.color-tip {
  opacity: .67;
}

.github {
  color: #999999;
}

.github:hover {
  color: #FF4081;
}

.horizontal-space-normal {
  margin-left: 10px;
}

.horizontal-space-large {
  margin-left: 20px;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.invisible {
  z-index: -10000;
  position: absolute;
  visibility: hidden;
  left: -10000px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.radio-group .radio-group-item[selected] {
  background: #dce1e6;
}

.checkbox[checked] {
  background: #dce1e6;
}
